service: backend
frameworkVersion: '3'

plugins:
  - serverless-plugin-typescript
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-southeast-1
  iam:
    role:
      statements: # give this lambda permission to invoke the execute service's lambda
        - Effect: Allow
          Action: 'lambda:InvokeFunction'
          Resource: arn:aws:lambda:${aws:region}:${aws:accountId}:function:executor-${sls:stage}
  httpApi:
    cors: true

package:
  include:
    - ./swagger.yml # needed for generating documentation

functions:
  api:
    handler: src/index.handler
    events:
      - httpApi:
          method: '*'
          path: /{any+}
    environment:
      DB_HOST: ${ssm:/codesketcher-${sls:stage}/rds/host}
      DB_NAME: ${ssm:/codesketcher-${sls:stage}/rds/name}
      DB_USERNAME: ${ssm:/codesketcher-${sls:stage}/rds/username}
      DB_PASSWORD: ${ssm:/codesketcher-${sls:stage}/rds/password}
      GOOGLE_CLIENT_ID: ${ssm:/codesketcher-${sls:stage}/google/client-id}
