service: backend
frameworkVersion: '3'

useDotenv: true
plugins:
  - serverless-plugin-typescript

provider:
  name: aws
  runtime: nodejs18.x

functions:
  api:
    handler: src/index.handler
    events:
      - httpApi:
          method: '*'
          path: /{any+}
    