service: backend
frameworkVersion: '3'

plugins:
  - serverless-plugin-typescript
  - serverless-dotenv-plugin

provider:
  name: aws
  runtime: nodejs18.x
  region: ap-southeast-1
  iam:
    role:
      statements: # give this lambda permission to invoke the execute service's lambda
        - Effect: Allow
          Action: 'lambda:InvokeFunction'
          Resource: arn:aws:lambda:${aws:region}:${aws:accountId}:function:executor-${sls:stage}

package:
  include:
    - ./swagger.yml # needed for generating documentation

functions:
  api:
    handler: src/index.handler
    events:
      - httpApi:
          method: '*'
          path: /{any+}
    