name: E2E Tests
on:
  - pull_request
  - workflow_call

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      # checkout code
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # setup nodejs
      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Run E2E Tests
        working-directory: ./
        run: |
          ./scripts/e2e-tests.sh
