name: Deploy Backend (Prod)
on:
  push:
    branches:
      - main

jobs:
  test:
    uses: ./.github/workflows/test-backend.yml
  deploy:
    runs-on: ubuntu-latest
    needs: test

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_PROD_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_PROD_SECRET_ACCESS_KEY }}

    steps:
      # checkout code
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # setup nodejs
      - uses: actions/setup-node@v3
        with:
          node-version: "18"

      # setup backend
      - run: npm ci
        working-directory: ./backend

      # deploy backend
      - run: npm run deploy:prod
        working-directory: ./backend
