name: Deploy Executor (Prod)
on:
  push:
    branches:
      - chore/deploy-to-prod-on-merge

jobs:
  test:
    uses: ./.github/workflows/test-executor.yml
  deploy:
    runs-on: ubuntu-latest
    needs: test

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_DEV_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_DEV_SECRET_ACCESS_KEY }}

    steps:
      # checkout code
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.ref }}

      # setup nodejs and python
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # setup executor service
      - name: Setup executor service
        working-directory: ./services/executor
        run: |
          pip install -r requirements.txt
          npm ci

      # deploy executor service
      - run: npm run deploy:dev
        working-directory: ./services/executor
